parameters:
	ignoreErrors:
		-
			message: "#^PHPDoc tag @param references unknown parameter\\: \\$fallback$#"
			count: 1
			path: core/config/Configuration.php

		-
			message: "#^PHPDoc tag @param references unknown parameter\\: \\$key$#"
			count: 1
			path: core/config/Configuration.php

		-
			message: "#^Call to an undefined method spitfire\\\\SpitFire\\:\\:registerApp\\(\\)\\.$#"
			count: 1
			path: core/functions.php

		-
			message: "#^Constant APP_DIRECTORY not found\\.$#"
			count: 1
			path: core/functions.php

		-
			message: "#^Function db\\(\\) has invalid return type spitfire\\\\storage\\\\database\\\\DB\\.$#"
			count: 1
			path: core/functions.php

		-
			message: "#^PHPDoc tag @param references unknown parameter\\: \\$uri$#"
			count: 1
			path: core/functions.php

		-
			message: "#^Variable \\$scope on left side of \\?\\? always exists and is not nullable\\.$#"
			count: 1
			path: core/functions.php

		-
			message: "#^Property spitfire\\\\core\\\\http\\\\LanguageAccept\\:\\:\\$locale \\(string\\) does not accept null\\.$#"
			count: 1
			path: core/http/LanguageAccept.php

		-
			message: "#^Cannot call method getPriority\\(\\) on string\\.$#"
			count: 2
			path: core/http/LanguageAcceptParser.php

		-
			message: "#^PHPDoc tag @param references unknown parameter\\: \\$params$#"
			count: 1
			path: core/router/Parameters.php

		-
			message: "#^Access to an undefined property spitfire\\\\core\\\\router\\\\RewriteRule\\:\\:\\$protocol\\.$#"
			count: 1
			path: core/router/RewriteRule.php

		-
			message: "#^PHPDoc tag @param references unknown parameter\\: \\$URI$#"
			count: 1
			path: core/router/Route.php

		-
			message: "#^PHPDoc tag @param references unknown parameter\\: \\$extension$#"
			count: 1
			path: core/router/Route.php

		-
			message: "#^PHPDoc tag @param references unknown parameter\\: \\$method$#"
			count: 1
			path: core/router/Route.php

		-
			message: "#^PHPDoc tag @param references unknown parameter\\: \\$protocol$#"
			count: 1
			path: core/router/Route.php

		-
			message: "#^PHPDoc tag @return with type void is incompatible with native type spitfire\\\\core\\\\router\\\\Parameters\\|null\\.$#"
			count: 1
			path: core/router/Route.php

		-
			message: "#^PHPDoc tag @var above a method has no effect\\.$#"
			count: 1
			path: core/router/Router.php

		-
			message: "#^Instantiated class spitfire\\\\exceptions\\\\FileNotFoundException not found\\.$#"
			count: 1
			path: io/DataURI.php

		-
			message: "#^PHPDoc tag @throws with type spitfire\\\\exceptions\\\\FileNotFoundException is not subtype of Throwable$#"
			count: 1
			path: io/DataURI.php

		-
			message: "#^Throwing object of an unknown class spitfire\\\\exceptions\\\\FileNotFoundException\\.$#"
			count: 1
			path: io/DataURI.php

		-
			message: "#^Instantiated class spitfire\\\\exceptions\\\\PrivateException not found\\.$#"
			count: 1
			path: io/Filesize.php

		-
			message: "#^PHPDoc tag @throws with type spitfire\\\\exceptions\\\\PrivateException is not subtype of Throwable$#"
			count: 1
			path: io/Filesize.php

		-
			message: "#^Throwing object of an unknown class spitfire\\\\exceptions\\\\PrivateException\\.$#"
			count: 1
			path: io/Filesize.php

		-
			message: "#^Instantiated class spitfire\\\\exceptions\\\\PublicException not found\\.$#"
			count: 1
			path: io/XSSToken.php

		-
			message: "#^Throwing object of an unknown class spitfire\\\\exceptions\\\\PublicException\\.$#"
			count: 1
			path: io/XSSToken.php

		-
			message: "#^Call to an undefined method spitfire\\\\io\\\\html\\\\dateTimePicker\\:\\:readPostData\\(\\)\\.$#"
			count: 1
			path: io/html/date_picker.php

		-
			message: "#^Property spitfire\\\\io\\\\lock\\\\FileLock\\:\\:\\$file is never read, only written\\.$#"
			count: 1
			path: io/lock/FileLock.php

		-
			message: "#^Instanceof between \\*NEVER\\* and Throwable will always evaluate to false\\.$#"
			count: 1
			path: io/stp/StackTracePrinter.php

		-
			message: "#^Result of && is always false\\.$#"
			count: 1
			path: io/stp/StackTracePrinter.php

		-
			message: "#^Result of \\|\\| is always true\\.$#"
			count: 1
			path: io/stream/Stream.php

		-
			message: "#^Cannot call method getSchema\\(\\) on void\\.$#"
			count: 1
			path: model/Index.php

		-
			message: "#^Result of method spitfire\\\\collection\\\\Collection\\<mixed\\>\\:\\:rewind\\(\\) \\(void\\) is used\\.$#"
			count: 1
			path: model/Index.php

		-
			message: "#^Instantiated class spitfire\\\\exceptions\\\\PrivateException not found\\.$#"
			count: 2
			path: model/Schema.php

		-
			message: "#^Method spitfire\\\\model\\\\Schema\\:\\:getBaseRestrictions\\(\\) has invalid return type spitfire\\\\model\\\\type\\.$#"
			count: 1
			path: model/Schema.php

		-
			message: "#^Method spitfire\\\\model\\\\Schema\\:\\:getBaseRestrictions\\(\\) should return spitfire\\\\model\\\\type but return statement is missing\\.$#"
			count: 1
			path: model/Schema.php

		-
			message: "#^Method spitfire\\\\model\\\\Schema\\:\\:getPrimary\\(\\) should return spitfire\\\\model\\\\Index but returns null\\.$#"
			count: 1
			path: model/Schema.php

		-
			message: "#^Method spitfire\\\\model\\\\Schema\\:\\:getTable\\(\\) has invalid return type spitfire\\\\storage\\\\database\\\\Table\\.$#"
			count: 1
			path: model/Schema.php

		-
			message: "#^PHPDoc tag @throws with type spitfire\\\\exceptions\\\\PrivateException is not subtype of Throwable$#"
			count: 2
			path: model/Schema.php

		-
			message: "#^Parameter \\$table of method spitfire\\\\model\\\\Schema\\:\\:setTable\\(\\) has invalid type spitfire\\\\storage\\\\database\\\\Table\\.$#"
			count: 1
			path: model/Schema.php

		-
			message: "#^Property spitfire\\\\model\\\\Schema\\:\\:\\$table has unknown class spitfire\\\\storage\\\\database\\\\Table as its type\\.$#"
			count: 1
			path: model/Schema.php

		-
			message: "#^Throwing object of an unknown class spitfire\\\\exceptions\\\\PrivateException\\.$#"
			count: 2
			path: model/Schema.php

		-
			message: "#^Method spitfire\\\\model\\\\adapters\\\\AdapterInterface\\:\\:getModel\\(\\) has invalid return type Model\\.$#"
			count: 1
			path: model/adapters/AdapterInterface.php

		-
			message: "#^Method spitfire\\\\model\\\\adapters\\\\BaseAdapter\\:\\:getModel\\(\\) has invalid return type Model\\.$#"
			count: 1
			path: model/adapters/BaseAdapter.php

		-
			message: "#^Method spitfire\\\\model\\\\adapters\\\\BaseAdapter\\:\\:validate\\(\\) has invalid return type spitfire\\\\validation\\\\ValidationResult\\.$#"
			count: 1
			path: model/adapters/BaseAdapter.php

		-
			message: "#^PHPDoc tag @param for parameter \\$model with type Model is not subtype of native type spitfire\\\\Model\\.$#"
			count: 1
			path: model/adapters/BaseAdapter.php

		-
			message: "#^Parameter \\$model of method spitfire\\\\model\\\\adapters\\\\BaseAdapter\\:\\:__construct\\(\\) has invalid type Model\\.$#"
			count: 1
			path: model/adapters/BaseAdapter.php

		-
			message: "#^Parameter \\$model of method spitfire\\\\model\\\\adapters\\\\BaseAdapter\\:\\:__construct\\(\\) has invalid type spitfire\\\\Model\\.$#"
			count: 1
			path: model/adapters/BaseAdapter.php

		-
			message: "#^Property spitfire\\\\model\\\\adapters\\\\BaseAdapter\\:\\:\\$model \\(Model\\) does not accept spitfire\\\\Model\\.$#"
			count: 1
			path: model/adapters/BaseAdapter.php

		-
			message: "#^Property spitfire\\\\model\\\\adapters\\\\BaseAdapter\\:\\:\\$model has unknown class Model as its type\\.$#"
			count: 1
			path: model/adapters/BaseAdapter.php

		-
			message: "#^Call to an undefined method spitfire\\\\model\\\\Field\\:\\:getRole\\(\\)\\.$#"
			count: 3
			path: model/adapters/ChildrenAdapter.php

		-
			message: "#^Call to an undefined method spitfire\\\\storage\\\\database\\\\Query\\:\\:fetch\\(\\)\\.$#"
			count: 1
			path: model/adapters/ChildrenAdapter.php

		-
			message: "#^Call to an undefined method spitfire\\\\storage\\\\database\\\\Query\\:\\:fetchAll\\(\\)\\.$#"
			count: 1
			path: model/adapters/ChildrenAdapter.php

		-
			message: "#^Call to method getQuery\\(\\) on an unknown class spitfire\\\\Model\\.$#"
			count: 1
			path: model/adapters/ChildrenAdapter.php

		-
			message: "#^Call to method getReferencedField\\(\\) on an unknown class ChildrenField\\.$#"
			count: 2
			path: model/adapters/ChildrenAdapter.php

		-
			message: "#^Call to method getTable\\(\\) on an unknown class ChildrenField\\.$#"
			count: 1
			path: model/adapters/ChildrenAdapter.php

		-
			message: "#^Call to method getTarget\\(\\) on an unknown class ChildrenField\\.$#"
			count: 1
			path: model/adapters/ChildrenAdapter.php

		-
			message: "#^Else branch is unreachable because previous condition is always true\\.$#"
			count: 1
			path: model/adapters/ChildrenAdapter.php

		-
			message: "#^Elseif branch is unreachable because previous condition is always true\\.$#"
			count: 1
			path: model/adapters/ChildrenAdapter.php

		-
			message: "#^Instantiated class spitfire\\\\exceptions\\\\PrivateException not found\\.$#"
			count: 1
			path: model/adapters/ChildrenAdapter.php

		-
			message: "#^Method spitfire\\\\model\\\\adapters\\\\ChildrenAdapter\\:\\:commit\\(\\) has invalid return type spitfire\\\\model\\\\adapters\\\\type\\.$#"
			count: 1
			path: model/adapters/ChildrenAdapter.php

		-
			message: "#^Method spitfire\\\\model\\\\adapters\\\\ChildrenAdapter\\:\\:commit\\(\\) should return spitfire\\\\model\\\\adapters\\\\type but return statement is missing\\.$#"
			count: 1
			path: model/adapters/ChildrenAdapter.php

		-
			message: "#^Method spitfire\\\\model\\\\adapters\\\\ChildrenAdapter\\:\\:getField\\(\\) should return spitfire\\\\model\\\\Field but returns ChildrenField\\.$#"
			count: 1
			path: model/adapters/ChildrenAdapter.php

		-
			message: "#^Method spitfire\\\\model\\\\adapters\\\\ChildrenAdapter\\:\\:getModel\\(\\) has invalid return type Model\\.$#"
			count: 1
			path: model/adapters/ChildrenAdapter.php

		-
			message: "#^Method spitfire\\\\model\\\\adapters\\\\ChildrenAdapter\\:\\:getModel\\(\\) should return Model but returns spitfire\\\\Model\\.$#"
			count: 1
			path: model/adapters/ChildrenAdapter.php

		-
			message: "#^Method spitfire\\\\model\\\\adapters\\\\ChildrenAdapter\\:\\:next\\(\\) with return type void returns mixed but should not return anything\\.$#"
			count: 1
			path: model/adapters/ChildrenAdapter.php

		-
			message: "#^Method spitfire\\\\model\\\\adapters\\\\ChildrenAdapter\\:\\:pluck\\(\\) has invalid return type spitfire\\\\Model\\.$#"
			count: 1
			path: model/adapters/ChildrenAdapter.php

		-
			message: "#^Method spitfire\\\\model\\\\adapters\\\\ChildrenAdapter\\:\\:rewind\\(\\) with return type void returns mixed but should not return anything\\.$#"
			count: 1
			path: model/adapters/ChildrenAdapter.php

		-
			message: "#^PHPDoc tag @throws with type spitfire\\\\exceptions\\\\PrivateException is not subtype of Throwable$#"
			count: 1
			path: model/adapters/ChildrenAdapter.php

		-
			message: "#^Parameter \\$data of method spitfire\\\\model\\\\adapters\\\\ChildrenAdapter\\:\\:usrSetData\\(\\) has invalid type spitfire\\\\Model\\.$#"
			count: 1
			path: model/adapters/ChildrenAdapter.php

		-
			message: "#^Parameter \\$field of method spitfire\\\\model\\\\adapters\\\\ChildrenAdapter\\:\\:__construct\\(\\) has invalid type ChildrenField\\.$#"
			count: 1
			path: model/adapters/ChildrenAdapter.php

		-
			message: "#^Parameter \\$model of method spitfire\\\\model\\\\adapters\\\\ChildrenAdapter\\:\\:__construct\\(\\) has invalid type spitfire\\\\Model\\.$#"
			count: 1
			path: model/adapters/ChildrenAdapter.php

		-
			message: "#^Property spitfire\\\\model\\\\adapters\\\\ChildrenAdapter\\:\\:\\$children has unknown class spitfire\\\\Model as its type\\.$#"
			count: 1
			path: model/adapters/ChildrenAdapter.php

		-
			message: "#^Property spitfire\\\\model\\\\adapters\\\\ChildrenAdapter\\:\\:\\$field has unknown class ChildrenField as its type\\.$#"
			count: 1
			path: model/adapters/ChildrenAdapter.php

		-
			message: "#^Property spitfire\\\\model\\\\adapters\\\\ChildrenAdapter\\:\\:\\$parent has unknown class spitfire\\\\Model as its type\\.$#"
			count: 1
			path: model/adapters/ChildrenAdapter.php

		-
			message: "#^Strict comparison using \\=\\=\\= between iterable\\<spitfire\\\\Model\\>&spitfire\\\\model\\\\adapters\\\\ManyToManyAdapter and \\$this\\(spitfire\\\\model\\\\adapters\\\\ChildrenAdapter\\) will always evaluate to false\\.$#"
			count: 1
			path: model/adapters/ChildrenAdapter.php

		-
			message: "#^Throwing object of an unknown class spitfire\\\\exceptions\\\\PrivateException\\.$#"
			count: 1
			path: model/adapters/ChildrenAdapter.php

		-
			message: "#^Instantiated class spitfire\\\\exceptions\\\\PrivateException not found\\.$#"
			count: 1
			path: model/adapters/FloatAdapter.php

		-
			message: "#^PHPDoc tag @throws with type spitfire\\\\exceptions\\\\PrivateException is not subtype of Throwable$#"
			count: 1
			path: model/adapters/FloatAdapter.php

		-
			message: "#^Result of && is always false\\.$#"
			count: 1
			path: model/adapters/FloatAdapter.php

		-
			message: "#^Strict comparison using \\=\\=\\= between int and null will always evaluate to false\\.$#"
			count: 1
			path: model/adapters/FloatAdapter.php

		-
			message: "#^Throwing object of an unknown class spitfire\\\\exceptions\\\\PrivateException\\.$#"
			count: 1
			path: model/adapters/FloatAdapter.php

		-
			message: "#^Instantiated class spitfire\\\\exceptions\\\\PrivateException not found\\.$#"
			count: 1
			path: model/adapters/IntegerAdapter.php

		-
			message: "#^PHPDoc tag @throws with type spitfire\\\\exceptions\\\\PrivateException is not subtype of Throwable$#"
			count: 1
			path: model/adapters/IntegerAdapter.php

		-
			message: "#^Result of && is always false\\.$#"
			count: 1
			path: model/adapters/IntegerAdapter.php

		-
			message: "#^Strict comparison using \\=\\=\\= between int and null will always evaluate to false\\.$#"
			count: 1
			path: model/adapters/IntegerAdapter.php

		-
			message: "#^Throwing object of an unknown class spitfire\\\\exceptions\\\\PrivateException\\.$#"
			count: 1
			path: model/adapters/IntegerAdapter.php

		-
			message: "#^Call to an undefined method spitfire\\\\model\\\\Field\\:\\:getTarget\\(\\)\\.$#"
			count: 1
			path: model/adapters/ReferenceAdapter.php

		-
			message: "#^Call to method getPrimaryData\\(\\) on an unknown class spitfire\\\\Model\\.$#"
			count: 3
			path: model/adapters/ReferenceAdapter.php

		-
			message: "#^Call to method isNew\\(\\) on an unknown class spitfire\\\\Model\\.$#"
			count: 1
			path: model/adapters/ReferenceAdapter.php

		-
			message: "#^Class spitfire\\\\Model not found\\.$#"
			count: 6
			path: model/adapters/ReferenceAdapter.php

		-
			message: "#^Else branch is unreachable because ternary operator condition is always true\\.$#"
			count: 1
			path: model/adapters/ReferenceAdapter.php

		-
			message: "#^Instantiated class spitfire\\\\exceptions\\\\PrivateException not found\\.$#"
			count: 3
			path: model/adapters/ReferenceAdapter.php

		-
			message: "#^Method spitfire\\\\model\\\\adapters\\\\ReferenceAdapter\\:\\:dbGetData\\(\\) has invalid return type spitfire\\\\model\\\\adapters\\\\type\\.$#"
			count: 1
			path: model/adapters/ReferenceAdapter.php

		-
			message: "#^Method spitfire\\\\model\\\\adapters\\\\ReferenceAdapter\\:\\:dbGetData\\(\\) should return spitfire\\\\model\\\\adapters\\\\type but returns array\\.$#"
			count: 1
			path: model/adapters/ReferenceAdapter.php

		-
			message: "#^PHPDoc tag @throws with type spitfire\\\\exceptions\\\\PrivateException is not subtype of Throwable$#"
			count: 1
			path: model/adapters/ReferenceAdapter.php

		-
			message: "#^Property spitfire\\\\model\\\\adapters\\\\ReferenceAdapter\\:\\:\\$local has unknown class spitfire\\\\Model as its type\\.$#"
			count: 1
			path: model/adapters/ReferenceAdapter.php

		-
			message: "#^Property spitfire\\\\model\\\\adapters\\\\ReferenceAdapter\\:\\:\\$remote has unknown class spitfire\\\\Model as its type\\.$#"
			count: 1
			path: model/adapters/ReferenceAdapter.php

		-
			message: "#^Throwing object of an unknown class spitfire\\\\exceptions\\\\PrivateException\\.$#"
			count: 3
			path: model/adapters/ReferenceAdapter.php

		-
			message: "#^Access to constant TYPE_AND on an unknown class spitfire\\\\storage\\\\database\\\\RestrictionGroup\\.$#"
			count: 1
			path: model/adapters/m2madapter.php

		-
			message: "#^Call to an undefined method spitfire\\\\storage\\\\database\\\\Query\\:\\:fetchAll\\(\\)\\.$#"
			count: 1
			path: model/adapters/m2madapter.php

		-
			message: "#^Call to method getBridge\\(\\) on an unknown class spitfire\\\\model\\\\ManyToManyField\\.$#"
			count: 2
			path: model/adapters/m2madapter.php

		-
			message: "#^Call to method getModel\\(\\) on an unknown class spitfire\\\\model\\\\ManyToManyField\\.$#"
			count: 2
			path: model/adapters/m2madapter.php

		-
			message: "#^Call to method getPrimaryData\\(\\) on an unknown class Model\\.$#"
			count: 1
			path: model/adapters/m2madapter.php

		-
			message: "#^Call to method getQuery\\(\\) on an unknown class Model\\.$#"
			count: 1
			path: model/adapters/m2madapter.php

		-
			message: "#^Call to method getTarget\\(\\) on an unknown class spitfire\\\\model\\\\ManyToManyField\\.$#"
			count: 1
			path: model/adapters/m2madapter.php

		-
			message: "#^Else branch is unreachable because previous condition is always true\\.$#"
			count: 1
			path: model/adapters/m2madapter.php

		-
			message: "#^Elseif branch is unreachable because previous condition is always true\\.$#"
			count: 1
			path: model/adapters/m2madapter.php

		-
			message: "#^Instantiated class spitfire\\\\exceptions\\\\PrivateException not found\\.$#"
			count: 1
			path: model/adapters/m2madapter.php

		-
			message: "#^Method spitfire\\\\model\\\\adapters\\\\ManyToManyAdapter\\:\\:getField\\(\\) should return ManyToManyField but returns spitfire\\\\model\\\\ManyToManyField\\.$#"
			count: 1
			path: model/adapters/m2madapter.php

		-
			message: "#^Method spitfire\\\\model\\\\adapters\\\\ManyToManyAdapter\\:\\:getModel\\(\\) has invalid return type spitfire\\\\Model\\.$#"
			count: 1
			path: model/adapters/m2madapter.php

		-
			message: "#^Method spitfire\\\\model\\\\adapters\\\\ManyToManyAdapter\\:\\:getModel\\(\\) should return spitfire\\\\Model but returns Model\\.$#"
			count: 1
			path: model/adapters/m2madapter.php

		-
			message: "#^Method spitfire\\\\model\\\\adapters\\\\ManyToManyAdapter\\:\\:next\\(\\) with return type void returns Model\\|false but should not return anything\\.$#"
			count: 1
			path: model/adapters/m2madapter.php

		-
			message: "#^Method spitfire\\\\model\\\\adapters\\\\ManyToManyAdapter\\:\\:rewind\\(\\) with return type void returns Model\\|false but should not return anything\\.$#"
			count: 1
			path: model/adapters/m2madapter.php

		-
			message: "#^PHPDoc tag @throws with type spitfire\\\\exceptions\\\\PrivateException is not subtype of Throwable$#"
			count: 1
			path: model/adapters/m2madapter.php

		-
			message: "#^Parameter \\#1 \\$parentField of class spitfire\\\\model\\\\adapters\\\\BridgeAdapter constructor expects ManyToManyField, spitfire\\\\model\\\\ManyToManyField given\\.$#"
			count: 2
			path: model/adapters/m2madapter.php

		-
			message: "#^Parameter \\$data of method spitfire\\\\model\\\\adapters\\\\ManyToManyAdapter\\:\\:usrSetData\\(\\) has invalid type spitfire\\\\Model\\.$#"
			count: 1
			path: model/adapters/m2madapter.php

		-
			message: "#^Parameter \\$model of method spitfire\\\\model\\\\adapters\\\\ManyToManyAdapter\\:\\:__construct\\(\\) has invalid type spitfire\\\\Model\\.$#"
			count: 2
			path: model/adapters/m2madapter.php

		-
			message: "#^Property spitfire\\\\model\\\\adapters\\\\ManyToManyAdapter\\:\\:\\$children \\(array\\<Model\\>\\) does not accept void\\.$#"
			count: 1
			path: model/adapters/m2madapter.php

		-
			message: "#^Property spitfire\\\\model\\\\adapters\\\\ManyToManyAdapter\\:\\:\\$children has unknown class Model as its type\\.$#"
			count: 1
			path: model/adapters/m2madapter.php

		-
			message: "#^Property spitfire\\\\model\\\\adapters\\\\ManyToManyAdapter\\:\\:\\$field \\(spitfire\\\\model\\\\ManyToManyField\\) does not accept ManyToManyField\\.$#"
			count: 1
			path: model/adapters/m2madapter.php

		-
			message: "#^Property spitfire\\\\model\\\\adapters\\\\ManyToManyAdapter\\:\\:\\$field has unknown class spitfire\\\\model\\\\ManyToManyField as its type\\.$#"
			count: 1
			path: model/adapters/m2madapter.php

		-
			message: "#^Property spitfire\\\\model\\\\adapters\\\\ManyToManyAdapter\\:\\:\\$parent \\(Model\\) does not accept spitfire\\\\Model\\.$#"
			count: 1
			path: model/adapters/m2madapter.php

		-
			message: "#^Property spitfire\\\\model\\\\adapters\\\\ManyToManyAdapter\\:\\:\\$parent has unknown class Model as its type\\.$#"
			count: 1
			path: model/adapters/m2madapter.php

		-
			message: "#^Throwing object of an unknown class spitfire\\\\exceptions\\\\PrivateException\\.$#"
			count: 1
			path: model/adapters/m2madapter.php

		-
			message: "#^Call to an undefined method spitfire\\\\storage\\\\database\\\\Query\\:\\:getQueryTable\\(\\)\\.$#"
			count: 1
			path: model/children.php

		-
			message: "#^Call to method getCollection\\(\\) on an unknown class spitfire\\\\storage\\\\database\\\\Table\\.$#"
			count: 1
			path: model/children.php

		-
			message: "#^Call to method getDb\\(\\) on an unknown class spitfire\\\\storage\\\\database\\\\Table\\.$#"
			count: 1
			path: model/children.php

		-
			message: "#^Call to static method endsWith\\(\\) on an unknown class spitfire\\\\model\\\\fields\\\\spitfire\\\\utils\\\\Strings\\.$#"
			count: 1
			path: model/children.php

		-
			message: "#^Instantiated class spitfire\\\\exceptions\\\\PrivateException not found\\.$#"
			count: 1
			path: model/children.php

		-
			message: "#^Method spitfire\\\\model\\\\fields\\\\ChildrenField\\:\\:findReference\\(\\) has invalid return type Reference\\.$#"
			count: 1
			path: model/children.php

		-
			message: "#^Method spitfire\\\\model\\\\fields\\\\ChildrenField\\:\\:findReference\\(\\) should return Reference but return statement is missing\\.$#"
			count: 1
			path: model/children.php

		-
			message: "#^Method spitfire\\\\model\\\\fields\\\\ChildrenField\\:\\:findReference\\(\\) should return Reference but returns spitfire\\\\model\\\\Field\\.$#"
			count: 1
			path: model/children.php

		-
			message: "#^Method spitfire\\\\model\\\\fields\\\\ChildrenField\\:\\:findReference\\(\\) should return Reference but returns spitfire\\\\model\\\\fields\\\\Reference\\.$#"
			count: 1
			path: model/children.php

		-
			message: "#^Method spitfire\\\\model\\\\fields\\\\ChildrenField\\:\\:getReferencedField\\(\\) should return spitfire\\\\model\\\\fields\\\\Reference but returns spitfire\\\\model\\\\Field\\|null\\.$#"
			count: 1
			path: model/children.php

		-
			message: "#^PHPDoc tag @throws with type spitfire\\\\exceptions\\\\PrivateException is not subtype of Throwable$#"
			count: 1
			path: model/children.php

		-
			message: "#^Parameter \\#1 \\$field of class spitfire\\\\model\\\\adapters\\\\ChildrenAdapter constructor expects ChildrenField, \\$this\\(spitfire\\\\model\\\\fields\\\\ChildrenField\\) given\\.$#"
			count: 1
			path: model/children.php

		-
			message: "#^Parameter \\$model of method spitfire\\\\model\\\\fields\\\\ChildrenField\\:\\:getAdapter\\(\\) has invalid type spitfire\\\\Model\\.$#"
			count: 2
			path: model/children.php

		-
			message: "#^Parameter \\$target of method spitfire\\\\model\\\\fields\\\\ChildrenField\\:\\:__construct\\(\\) has invalid type spitfire\\\\Model\\.$#"
			count: 1
			path: model/children.php

		-
			message: "#^Property spitfire\\\\model\\\\fields\\\\ChildrenField\\:\\:\\$target has unknown class spitfire\\\\Model as its type\\.$#"
			count: 1
			path: model/children.php

		-
			message: "#^Throwing object of an unknown class spitfire\\\\exceptions\\\\PrivateException\\.$#"
			count: 1
			path: model/children.php

		-
			message: "#^Access to an undefined property spitfire\\\\model\\\\fields\\\\IntegerField\\:\\:\\$datatype\\.$#"
			count: 1
			path: model/fields/IntegerField.php

		-
			message: "#^Access to an undefined property spitfire\\\\model\\\\fields\\\\IntegerField\\:\\:\\$length\\.$#"
			count: 1
			path: model/fields/IntegerField.php

		-
			message: "#^Function _t not found\\.$#"
			count: 1
			path: model/fields/IntegerField.php

		-
			message: "#^Instantiated class spitfire\\\\validation\\\\ValidationError not found\\.$#"
			count: 1
			path: model/fields/IntegerField.php

		-
			message: "#^Parameter \\$model of method spitfire\\\\model\\\\fields\\\\IntegerField\\:\\:getAdapter\\(\\) has invalid type spitfire\\\\Model\\.$#"
			count: 2
			path: model/fields/IntegerField.php

		-
			message: "#^Call to an undefined method spitfire\\\\storage\\\\database\\\\Query\\:\\:getQueryTable\\(\\)\\.$#"
			count: 1
			path: model/fields/Reference.php

		-
			message: "#^Call to function is_string\\(\\) with spitfire\\\\model\\\\Schema will always evaluate to false\\.$#"
			count: 1
			path: model/fields/Reference.php

		-
			message: "#^Call to static method endsWith\\(\\) on an unknown class spitfire\\\\model\\\\fields\\\\spitfire\\\\utils\\\\Strings\\.$#"
			count: 1
			path: model/fields/Reference.php

		-
			message: "#^Else branch is unreachable because previous condition is always true\\.$#"
			count: 1
			path: model/fields/Reference.php

		-
			message: "#^Elseif branch is unreachable because previous condition is always true\\.$#"
			count: 1
			path: model/fields/Reference.php

		-
			message: "#^Instantiated class spitfire\\\\model\\\\fields\\\\PrivateException not found\\.$#"
			count: 1
			path: model/fields/Reference.php

		-
			message: "#^Parameter \\$model of method spitfire\\\\model\\\\fields\\\\Reference\\:\\:getAdapter\\(\\) has invalid type spitfire\\\\Model\\.$#"
			count: 2
			path: model/fields/Reference.php

		-
			message: "#^Property spitfire\\\\model\\\\fields\\\\Reference\\:\\:\\$target \\(spitfire\\\\model\\\\Schema\\) does not accept string\\.$#"
			count: 1
			path: model/fields/Reference.php

		-
			message: "#^Result of && is always false\\.$#"
			count: 1
			path: model/fields/Reference.php

		-
			message: "#^Throwing object of an unknown class spitfire\\\\model\\\\fields\\\\PrivateException\\.$#"
			count: 1
			path: model/fields/Reference.php

		-
			message: "#^Access to an undefined property spitfire\\\\model\\\\fields\\\\StringField\\:\\:\\$datatype\\.$#"
			count: 1
			path: model/fields/StringField.php

		-
			message: "#^Function _t not found\\.$#"
			count: 1
			path: model/fields/StringField.php

		-
			message: "#^Parameter \\$model of method spitfire\\\\model\\\\fields\\\\StringField\\:\\:getAdapter\\(\\) has invalid type spitfire\\\\Model\\.$#"
			count: 2
			path: model/fields/StringField.php

		-
			message: "#^Parameter \\$model of method EnumField\\:\\:getAdapter\\(\\) has invalid type spitfire\\\\Model\\.$#"
			count: 2
			path: model/fields/enum.php

		-
			message: "#^Parameter \\$model of method FileField\\:\\:getAdapter\\(\\) has invalid type spitfire\\\\Model\\.$#"
			count: 2
			path: model/fields/file.php

		-
			message: "#^Access to an undefined property FloatField\\:\\:\\$datatype\\.$#"
			count: 1
			path: model/fields/float.php

		-
			message: "#^Access to an undefined property FloatField\\:\\:\\$length\\.$#"
			count: 1
			path: model/fields/float.php

		-
			message: "#^Function _t not found\\.$#"
			count: 1
			path: model/fields/float.php

		-
			message: "#^Instantiated class spitfire\\\\validation\\\\ValidationError not found\\.$#"
			count: 1
			path: model/fields/float.php

		-
			message: "#^Parameter \\$model of method FloatField\\:\\:getAdapter\\(\\) has invalid type spitfire\\\\Model\\.$#"
			count: 2
			path: model/fields/float.php

		-
			message: "#^Call to method table\\(\\) on an unknown class spitfire\\\\storage\\\\database\\\\DB\\.$#"
			count: 1
			path: model/support/ReflectionParameterTransformer.php

		-
			message: "#^Class spitfire\\\\Model not found\\.$#"
			count: 2
			path: model/support/ReflectionParameterTransformer.php

		-
			message: "#^Instantiated class spitfire\\\\exceptions\\\\PrivateException not found\\.$#"
			count: 1
			path: mvc/Invoke.php

		-
			message: "#^PHPDoc tag @throws with type spitfire\\\\exceptions\\\\PrivateException is not subtype of Throwable$#"
			count: 1
			path: mvc/Invoke.php

		-
			message: "#^Throwing object of an unknown class spitfire\\\\exceptions\\\\PrivateException\\.$#"
			count: 1
			path: mvc/Invoke.php
