parameters:
	ignoreErrors:

		-
			message: "#^Instantiated class spitfire\\\\exceptions\\\\PublicException not found\\.$#"
			count: 1
			path: io/XSSToken.php

		-
			message: "#^Throwing object of an unknown class spitfire\\\\exceptions\\\\PublicException\\.$#"
			count: 1
			path: io/XSSToken.php

		-
			message: "#^Property spitfire\\\\io\\\\lock\\\\FileLock\\:\\:\\$file is never read, only written\\.$#"
			count: 1
			path: io/lock/FileLock.php

		-
			message: "#^Instanceof between \\*NEVER\\* and Throwable will always evaluate to false\\.$#"
			count: 1
			path: io/stp/StackTracePrinter.php

		-
			message: "#^Result of && is always false\\.$#"
			count: 1
			path: io/stp/StackTracePrinter.php

		-
			message: "#^Result of \\|\\| is always true\\.$#"
			count: 1
			path: io/stream/Stream.php

		-
			message: "#^Cannot call method getSchema\\(\\) on void\\.$#"
			count: 1
			path: model/Index.php

		-
			message: "#^Result of method spitfire\\\\collection\\\\Collection\\<mixed\\>\\:\\:rewind\\(\\) \\(void\\) is used\\.$#"
			count: 1
			path: model/Index.php

		-
			message: "#^Method spitfire\\\\model\\\\Schema\\:\\:getBaseRestrictions\\(\\) has invalid return type spitfire\\\\model\\\\type\\.$#"
			count: 1
			path: model/Schema.php

		-
			message: "#^Method spitfire\\\\model\\\\Schema\\:\\:getBaseRestrictions\\(\\) should return spitfire\\\\model\\\\type but return statement is missing\\.$#"
			count: 1
			path: model/Schema.php

		-
			message: "#^Method spitfire\\\\model\\\\Schema\\:\\:getTable\\(\\) has invalid return type spitfire\\\\storage\\\\database\\\\Table\\.$#"
			count: 1
			path: model/Schema.php

		-
			message: "#^Parameter \\$table of method spitfire\\\\model\\\\Schema\\:\\:setTable\\(\\) has invalid type spitfire\\\\storage\\\\database\\\\Table\\.$#"
			count: 1
			path: model/Schema.php

		-
			message: "#^Property spitfire\\\\model\\\\Schema\\:\\:\\$table has unknown class spitfire\\\\storage\\\\database\\\\Table as its type\\.$#"
			count: 1
			path: model/Schema.php

		-
			message: "#^Method spitfire\\\\model\\\\adapters\\\\AdapterInterface\\:\\:getModel\\(\\) has invalid return type Model\\.$#"
			count: 1
			path: model/adapters/AdapterInterface.php

		-
			message: "#^Method spitfire\\\\model\\\\adapters\\\\BaseAdapter\\:\\:getModel\\(\\) has invalid return type Model\\.$#"
			count: 1
			path: model/adapters/BaseAdapter.php

		-
			message: "#^PHPDoc tag @param for parameter \\$model with type Model is not subtype of native type spitfire\\\\Model\\.$#"
			count: 1
			path: model/adapters/BaseAdapter.php

		-
			message: "#^Parameter \\$model of method spitfire\\\\model\\\\adapters\\\\BaseAdapter\\:\\:__construct\\(\\) has invalid type Model\\.$#"
			count: 1
			path: model/adapters/BaseAdapter.php

		-
			message: "#^Parameter \\$model of method spitfire\\\\model\\\\adapters\\\\BaseAdapter\\:\\:__construct\\(\\) has invalid type spitfire\\\\Model\\.$#"
			count: 1
			path: model/adapters/BaseAdapter.php

		-
			message: "#^Property spitfire\\\\model\\\\adapters\\\\BaseAdapter\\:\\:\\$model \\(Model\\) does not accept spitfire\\\\Model\\.$#"
			count: 1
			path: model/adapters/BaseAdapter.php

		-
			message: "#^Property spitfire\\\\model\\\\adapters\\\\BaseAdapter\\:\\:\\$model has unknown class Model as its type\\.$#"
			count: 1
			path: model/adapters/BaseAdapter.php

		-
			message: "#^Access to an undefined property spitfire\\\\model\\\\fields\\\\IntegerField\\:\\:\\$datatype\\.$#"
			count: 1
			path: model/fields/IntegerField.php

		-
			message: "#^Access to an undefined property spitfire\\\\model\\\\fields\\\\IntegerField\\:\\:\\$length\\.$#"
			count: 1
			path: model/fields/IntegerField.php

		-
			message: "#^Function _t not found\\.$#"
			count: 1
			path: model/fields/IntegerField.php

		-
			message: "#^Instantiated class spitfire\\\\validation\\\\ValidationError not found\\.$#"
			count: 1
			path: model/fields/IntegerField.php

		-
			message: "#^Parameter \\$model of method spitfire\\\\model\\\\fields\\\\IntegerField\\:\\:getAdapter\\(\\) has invalid type spitfire\\\\Model\\.$#"
			count: 2
			path: model/fields/IntegerField.php

		-
			message: "#^Call to an undefined method spitfire\\\\storage\\\\database\\\\Query\\:\\:getQueryTable\\(\\)\\.$#"
			count: 1
			path: model/fields/Reference.php

		-
			message: "#^Call to function is_string\\(\\) with spitfire\\\\model\\\\Schema will always evaluate to false\\.$#"
			count: 1
			path: model/fields/Reference.php

		-
			message: "#^Call to static method endsWith\\(\\) on an unknown class spitfire\\\\model\\\\fields\\\\spitfire\\\\utils\\\\Strings\\.$#"
			count: 1
			path: model/fields/Reference.php

		-
			message: "#^Else branch is unreachable because previous condition is always true\\.$#"
			count: 1
			path: model/fields/Reference.php

		-
			message: "#^Elseif branch is unreachable because previous condition is always true\\.$#"
			count: 1
			path: model/fields/Reference.php

		-
			message: "#^Instantiated class spitfire\\\\model\\\\fields\\\\PrivateException not found\\.$#"
			count: 1
			path: model/fields/Reference.php

		-
			message: "#^Parameter \\$model of method spitfire\\\\model\\\\fields\\\\Reference\\:\\:getAdapter\\(\\) has invalid type spitfire\\\\Model\\.$#"
			count: 2
			path: model/fields/Reference.php

		-
			message: "#^Property spitfire\\\\model\\\\fields\\\\Reference\\:\\:\\$target \\(spitfire\\\\model\\\\Schema\\) does not accept string\\.$#"
			count: 1
			path: model/fields/Reference.php

		-
			message: "#^Result of && is always false\\.$#"
			count: 1
			path: model/fields/Reference.php

		-
			message: "#^Throwing object of an unknown class spitfire\\\\model\\\\fields\\\\PrivateException\\.$#"
			count: 1
			path: model/fields/Reference.php

		-
			message: "#^Access to an undefined property spitfire\\\\model\\\\fields\\\\StringField\\:\\:\\$datatype\\.$#"
			count: 1
			path: model/fields/StringField.php

		-
			message: "#^Function _t not found\\.$#"
			count: 1
			path: model/fields/StringField.php

		-
			message: "#^Parameter \\$model of method spitfire\\\\model\\\\fields\\\\StringField\\:\\:getAdapter\\(\\) has invalid type spitfire\\\\Model\\.$#"
			count: 2
			path: model/fields/StringField.php

		-
			message: "#^Instantiated class spitfire\\\\exceptions\\\\PrivateException not found\\.$#"
			count: 1
			path: mvc/Invoke.php

		-
			message: "#^PHPDoc tag @throws with type spitfire\\\\exceptions\\\\PrivateException is not subtype of Throwable$#"
			count: 1
			path: mvc/Invoke.php

		-
			message: "#^Throwing object of an unknown class spitfire\\\\exceptions\\\\PrivateException\\.$#"
			count: 1
			path: mvc/Invoke.php
