parameters:
	ignoreErrors:

		-
			message: "#^Result of \\|\\| is always true\\.$#"
			count: 1
			path: io/stream/Stream.php

		-
			message: "#^Cannot call method getSchema\\(\\) on void\\.$#"
			count: 1
			path: model/Index.php

		-
			message: "#^Result of method spitfire\\\\collection\\\\Collection\\<mixed\\>\\:\\:rewind\\(\\) \\(void\\) is used\\.$#"
			count: 1
			path: model/Index.php

		-
			message: "#^Instantiated class spitfire\\\\exceptions\\\\PrivateException not found\\.$#"
			count: 1
			path: mvc/Invoke.php

		-
			message: "#^PHPDoc tag @throws with type spitfire\\\\exceptions\\\\PrivateException is not subtype of Throwable$#"
			count: 1
			path: mvc/Invoke.php

		-
			message: "#^Throwing object of an unknown class spitfire\\\\exceptions\\\\PrivateException\\.$#"
			count: 1
			path: mvc/Invoke.php
